
code {
    background-color: #d9e3e6;
}

body{
    margin: 0px;
    /*background-color: #eae2b7;*/
    /*background-color: rgba(85, 51, 7, 0.295);*/
    background-color: rgba(218, 167, 102, 0.295);
    color: #032046;
}
/*===================== Title =================*/
#contentTitle{

    text-align: center;
}

#contentTitle h1{
    display: inline;
    text-align: center;
    font-size: 40px;
    color : #0a3f5c;
    position: relative;
    bottom: 36px;
}


#contentTitle img{
    height: 100px;
    width: 100px;
}
/*====================== Sommary ====================*/

#sommary h2{
    text-align : left;
    margin-bottom: 0px;
}

#sommary ul{
    margin-top : 5px;
}

/*========================Nav bar =====================*/
header{
    background-color: #3d5a80;
    overflow: hidden;
    padding: 0px;
}

#logo{
    height: 36px;
    padding: 8px 7px 0px 5px;
}

#navBar{
    float: right;
}

#navBar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 15px 19px;
    font-size: 17px;
}

#navBar a:hover {
    background-color: #98c1d9;
    color: black;
  }

.activePage {
    background-color: #59a7aa;
    color: white;
}

/*========================content =====================*/
.content{
    margin: 2%;
}

/* ==================== main section ========*/
.mainSection{
    box-shadow: 0px 0px 6px black;
    padding: 20px 20px;
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.15);
}

.mainSection h2 {
    text-align: left;
    margin : 0px;
}

.mainSection>*{
    margin-left: 20px;
}


.mainSection h3~*{
    margin-left: 40px;
}

.mainSection h2~*{
    margin-top: 12px;
}


#webLearningLink h2 {
    margin-bottom: 5px;
}

#webLearningLink a{
    line-height: 27px;
}
